{%extends 'layout/base.html'%}

{% block content %}
<main class="container mt-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolores maiores aliquam, tempora molestiae a
            exercitationem odit tempore suscipit asperiores sed corrupti laudantium facilis delectus recusandae expedita
            quia veniam ullam.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                ingresar
            </a>
            <a class="btn btn-dark" href="/signup/">
                registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}